.rectangle {
  width: 95%;
  min-height: 40vh;
  height: auto;
  stroke: white;
  background-color: transparent;
  outline: 4px solid rgb(236, 236, 236);
  box-shadow: inset 0px 0px 20px rgba(4, 225, 44, 0.8); 
}

@media (min-height: 600px) {
  .rectangle {
    max-height: 70vh;
  }
}

.green{
 box-shadow: inset 0px 0px 100px rgba(77, 255, 148, 0.4);
}

.purple{
  box-shadow: inset 0px 0px 100px rgba(179, 0, 255, 0.4);
}

