.body{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}

.body a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.body p{
    margin: 0px;
    display: flex;
    overflow: hidden;
    font-size: 32px;
    padding-right: 30px;
    padding-top: 5px;
    font-weight: 300;
}

@media only screen and (min-width: 1000px) {
   
    .body{
        max-width: 1200px;
        margin-top: 80px;
    }
    .body p{
        font-size: 5vw;
        padding-right: 2vw;
    }
}